    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <a class="nav-link" href="{% url 'home' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        GreetingAPI
                    </a>
                    <a class="nav-link" href="{% url 'validateAPI' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        ValidateAPI
                    </a>
                    <a class="nav-link" href="{% url 'jokesAPI' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        JokesAPI
                    </a>
                </div>
            </div>
        </nav>
    </div>