{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1>Greetings</h1>
        <form method="get" style="margin-top: 2%;" id="nameForm">
            {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        let nameFormElement = document.getElementById('nameForm')
        if(nameFormElement){
            // Add event listener to the form submission
            document.getElementById("nameForm").addEventListener("submit", function (event){

                    event.preventDefault(); // Prevent default submission

                    let name = $('#id_name').val();
                    $.ajax({
                        url:'/api/greet/',
                        type:'GET',
                        data:{
                            name:name
                        },
                        success: function(data){
                            $('.error').remove();
                            Swal.fire({
                                title: "Hello "+data.name,
                                icon: 'success'
                            });
                        },
                        error:function(xhr){
                            $('.error').remove();
                            if(xhr.responseJSON && xhr.responseJSON.errors){
                            //handle and display errors
                            let errors = xhr.responseJSON.errors;
                            for(let field in errors){
                                let fieldElement = $(`#id_${field}`);
                                let errorDiv = $('<div class="error"></div>');
                                errorDiv.html(errors[field].map(error => `<p style="color:red">${error}</p>`).join(''));
                                fieldElement.parent().append(errorDiv);
                            }
                        }
                        }
                    });

            });
        }
    });
</script>
{% endblock %}