{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1>Greetings</h1>
        <form method="get" style="margin-top: 2%;" id="nameForm">
            <label for="greeting">Name: </label>
            <input id="greeting" name="name" pattern="^[A-za-z\s]+$" type="text" placeholder="Enter Your Name" required>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function(){
        let nameFormElement = document.getElementById('nameForm')
        if(nameFormElement){
            // Add event listener to the form submission
            document.getElementById("nameForm").addEventListener("submit", function (event){

                    event.preventDefault(); // Prevent default submission

                    let name = $('#greeting').val();
                    $.get("api/greet/"+name, function(data, status){
                        Swal.fire({
                            title: "Hello "+data.name,
                            icon: 'success'
                        });
                    });
            });
        }
    });
</script>
{% endblock %}