{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1>Jokes</h1>
        <form method="post" id="jokesForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>

        <h3>Your Jokes List</h3>
        <div class="container" id="data-list">
            
        </div>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let nameFormElement = document.getElementById('jokesForm')
        if (nameFormElement) {
            // Add event listener to the form submission
            nameFormElement.addEventListener("submit", function (event) {
                    event.preventDefault(); // Prevent default submission

                    let count = $('#id_count').val();
                    $.ajax({
                        url:"/api/jokes/",
                        type:"POST",
                        data:{
                            count:count,
                            csrfmiddlewaretoken: document.querySelector('[name=csrfmiddlewaretoken]').value
                        },
                        success: function(data){
                            const jokeContainer = document.getElementById('data-list');
                            jokeContainer.innerHTML = "";
                            data.forEach(item => {
                                const rowDiv = document.createElement('div');
                                rowDiv.classList.add('row','my-2');
        
                                const colDiv = document.createElement('div');
                                colDiv.classList.add('col-12','bg-info','py-3');
                                colDiv.style.textAlign = 'center';
                                colDiv.textContent = `${item.joke}`;
                                
                                rowDiv.appendChild(colDiv);
                                jokeContainer.appendChild(rowDiv);
                            });
                        },
                        error: function(xhr){
                            if(xhr.responseJSON && xhr.responseJSON.errors){
                                Swal.fire({
                                    title:'Error',
                                    text: xhr.responseJSON.errors,
                                    icon: 'error'
                                });

                            }
                        }
                    });
            });
        }
    });
</script>
{% endblock %}