{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1>Form validation</h1>
        <form method="post" id="validateForm">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        let nameFormElement = document.getElementById('validateForm')
        if(nameFormElement){
            // Add event listener to the form submission
            document.getElementById("validateForm").addEventListener("submit", function (event){
                // defining regex pattern for name input field
                const nameInputElement = document.getElementById('id_name');
                nameInputElement.setAttribute('pattern', '^[A-Za-z\\s]+$');
                // Check if the form is valid
                if (!this.checkValidity()) {
                    // If the form is not valid, prevent the default form submission
                    event.preventDefault();
                    // Trigger HTML5 form validation to display validation messages
                    this.reportValidity();
                }else{
                    // If the form is valid, proceed with submission
                    event.preventDefault(); // Prevent default submission

                    let name = $('#id_name').val();
                    let age = $('#id_age').val();
                    let salary = $('#id_salary').val();
                    $.post("/api/validate/",{
                        'name':name,
                        'age':age,
                        'salary':salary
                    }, function(data, status){
                        // sweetalert pop up
                        Swal.fire({
                            title: data.name + " is " + data.age + " years old and earns " + data.salary + " every month",
                            icon: 'success'
                        });
                    });
                }
            });
        }
    });
</script>
{% endblock %}