{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container-fluid px-4">
        <h1>Form validation</h1>
        <form method="post" id="validateForm">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function(){
        let nameFormElement = document.getElementById('validateForm')
        if(nameFormElement){
            // Add event listener to the form submission
            nameFormElement.addEventListener("submit", function (event){
                event.preventDefault(); // Prevent default submission

                let name = $('#id_name').val();
                let age = $('#id_age').val();
                let salary = $('#id_salary').val();

                $.ajax({
                    url:"/api/validate/",
                    type:"POST",
                    data:{
                        name:name,
                        age:age,
                        salary:salary,
                        csrfmiddlewaretoken: document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    success: function(data){
                        //clear previous errors
                        $(".error").remove();

                        //sweetalert pop up for successful submission
                        Swal.fire({
                            title:`${data.name} is ${data.age} years old and earns ${data.salary} every month`,
                            icon: 'success'
                        });
                    },
                    error: function(xhr){
                        //clear previous errors
                        $('.error').remove();

                        if(xhr.responseJSON && xhr.responseJSON.errors){
                            //handle and display errors
                            let errors = xhr.responseJSON.errors;
                            for(let field in errors){
                                let fieldElement = $(`#id_${field}`);
                                let errorDiv = $('<div class="error"></div>');
                                errorDiv.html(errors[field].map(error => `<p style="color:red">${error}</p>`).join(''));
                                fieldElement.parent().append(errorDiv);
                            }
                        }
                    }
                });
                   
            });
        }
    });
</script>
{% endblock %}